:root {
	--gradient: linear-gradient(
		90deg,
		rgba(255, 148, 39, 1) 0%,
		rgba(248, 35, 78, 1) 50%
	);
	--pink: rgba(248, 35, 78, 1);
	--orange: rgba(255, 148, 39, 1);
	--dark: rgba(44, 26, 78, 0.1);
	--white2: rgba(255, 255, 255, 0.3);
	--boxshadow: 3px 3px 5px 1px rgba(44, 26, 78, 0.1);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
	font-family: "Montserrat", sans-serif;
}

.main,
.aside {
	background: var(--white2);
}

body {
	background: var(--dark);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

body::before {
	position: absolute;
	top: 0;
	content: "";
	height: 40%;
	width: 100%;
	background: var(--gradient);
	z-index: -1;
}
.svg {
	bottom: 0px;
	left: 0px;
	position: absolute;
}

.svg-2 {
	position: absolute;
	right: 0px;
	top: 0px;
}

.workspace {
	position: absolute;
	width: 400px;
	height: 60%;
	top: 20%;
	border-radius: 20px;
	box-shadow: var(--boxshadow);
}
.aside {
	box-sizing: border-box;
	position: absolute;
	height: 33.5%;
	width: 100%;
	border-radius: 20px 20px 0 0;
	padding-right: 20px;
	text-align: right;
	padding-top: 20px;
}

.main {
	position: absolute;
	height: 66.5%;
	width: 100%;
	top: 33.5%;
	display: flex;
	border-radius: 0 0 20px 20px;
	padding-top: 20px;
	box-sizing: border-box;
}

.main__operators {
	display: grid;
	width: 25%;
}

.main__numbers {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	width: 75%;
}

.main__number {
	background: transparent;
	border: none;
}

.main__operator {
	background-color: transparent;
	border: none;
}

.clear {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	top: 33.5%;
	transform: translateY(-50%) translateX(-50%);
	background: var(--gradient);
	left: 25%;
	border: none;
	z-index: 1;
	box-shadow: var(--boxshadow);
}

.equal {
	box-sizing: border-box;
	position: absolute;
	width: 80px;
	height: 80px;
	right: 0px;
	bottom: 0px;
	border-radius: 100% 0 20px 0;
	background: var(--gradient);
	border: none;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding-right: 25px;
	padding-bottom: 20px;
}

/*fonts*/
.main__number,
.main__operator {
	font-size: 25px;
}

.aside__prevnum,
.aside__operator,
.aside__nownum {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.5);
	padding-right: 15px;
}

.aside__nownum {
	font-size: 30px;
	color: black;
}

.clear,
.equal {
	font-size: 25px;
	color: white;
}

.clear:hover,
.clear:active,
.equal:hover,
.equal:active {
	color: var(--orange);
}

/*why active don't work?*/

.main__number:hover,
.main__number:active,
.main__operator:hover,
.main__operator:active {
	color: var(--pink);
	border: none;
}

@media (max-width: 450px) {
	.workspace {
		height: 80%;
		width: 90%;
		top: 10%;
	}
	.clear {
		top: 37%;
	}
	.equal{
		width: 70px;
		height: 70px;
		padding-right: 15px;
		padding-bottom: 10px;
	}
	.svg,
	svg {
		width: 0;
	}
}
